<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Limits</title>
    <link rel="stylesheet" href="./public/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">No Limits</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/workout">Workout</a>
                <a href="/nutrition">Nutrition</a>
                <a href="/profile">Profile</a>
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            &copy; {{getCurrentYear}} No Limits. All rights reserved.
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="../../public/js/app.js"></script>
    {{/if}}
</body>

</html>
