<section>
  <h2>New Post</h2>

  <form class="custom-post-form">
    <div>
      <label for="custom-post-title">Title</label>
      <input type="text" id="custom-post-title" name="custom-post-title" />
    </div>
    <div>
      <label for="custom-post-content">Content</label>
      <textarea id="custom-post-content" name="custom-post-content"></textarea>
    </div>
    <button type="submit" class="custom-btn">Create</button>
  </form>
</section>

{{#if customPosts.length}}
<section>
    <h2>Your Custom Posts</h2>
    <ul>
        {{#each customPosts as |customPost|}}
        <li>
            {{> custom-post-info customPost}}
            <a href="/dashboard/edit/{{customPost.id}}" class="edit-custom-link">Edit post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="../public/js/add-post.js"></script>