{{ layouts/main}}

<section id="nutrition" class="content-section">
    <h2>Nutrition Plans</h2>
    <form id="foodSearchForm">
        <label for="foodSearch">Search for a Food:</label>
        <input type="text" id="foodSearch" name="foodSearch" placeholder="Enter food name">
        <button type="button" onclick="searchFood()">Search</button>
    </form>
    <div id="foodSearchResults"></div>
</section>