<section id="workouts" class="content-section">
    <h2>Workouts</h2>
    {{#if workouts.length}}
        <ul>
            {{#each workouts as |workout|}}
                <li>{{workout.name}} - Duration: {{workout.duration}}, Difficulty: {{workout.difficulty}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>No saved workouts yet.</p>
    {{/if}}
    
    <button onclick="showGenerateWorkoutsModal()">Generate Workouts</button>
</section>

<!-- Generate Workouts Modal -->
<div id="generateWorkoutsModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeGenerateWorkoutsModal()">&times;</span>
        <h2>Generate Workouts</h2>
        <button onclick="generateWorkouts()">Load Workouts</button>
    </div>
</div>

<script src="../public/js/workout.js"></script>