<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limitless</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>


<body>
    <div class='wrapper'>
    <header>
        <img src="./../../public/images/logo.jpg" alt="No Limits Logo" class="logo">
        <h1>Limitless</h1>
       <nav>
    {{#if loggedIn}}
        <p>Welcome, {{username}}!
            <a href='/'>Home</a>
            <a href='/dashboard'>Dashboard</a>
            <a href='/workout'>Workouts</a>
            <a href='/nutrition'>Nutrition</a>
            <a href='/profile'>Profile</a>
            <button id='logout' class='btn-no-style' onclick='logout()'>Logout</button>
        </p>
    {{else}}
        <p><a href='/login'>Login</a> or <a href='/signup'>Sign Up</a></p>
    {{/if}}
</nav>
    </header>

    <main>
        {{{body}}} 
    </main>

        <footer>
            <p>© 2023 No Limits. All rights reserved. </p>
        </footer>
    </div>

    {{#if loggedIn}}
    <script src='../../public/js/logout.js'></script>

</body>
</html>